.class-content {
  padding: 16px 0px 16px 40px!important;
}

.class-content-video {
  padding: 16px 0px 16px 0px!important;
}

.course-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.course-headers {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.course-headers-expand {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.course-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.course-content-expand {
  border: 1.5px solid rgb(235, 233, 233);
  padding: 10px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.course-content-expand-selected {
  background-color: #EEFAFF;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.instructor {
  padding: 20px;
  padding-top: 10px;
  border: 1.5px solid rgb(235, 233, 233);
  border-radius: 6px;
  cursor: pointer;
  margin-right: 48px;
  margin-left: 16px;
}

.appFooter {
  background-color: black;
  padding: 28px 180px;
  color: white;
}

.term-privacy {
  margin-bottom: 0;
}

.footer-logo {
  display: flex;
  justify-content: flex-end;
}

.video-img {
  position: relative;
  width: 100%;
  padding-right: 50px;
  padding-left: 15px;
}

@media only screen and (max-width: 600px) {
  .appFooter {
    background-color: black;
    padding: 28px 36px;
    color: white;
  }

  .term-privacy {
    margin-bottom: 20px;
  }

  .footer-logo {
    display: flex;
    justify-content: center;
  }

  .video-img {
    position: relative;
    width: 90%;
    padding: 0;
  }

  .video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .instructor {
    padding: 20px;
    padding-top: 10px;
    border: 1.5px solid rgb(235, 233, 233);
    border-radius: 6px;
    cursor: pointer;
    margin-right: 16px;
    margin-left: 20px;
  }
}
